
header{
    background-color: rgba(30, 143, 255, 0.8);
    background-image: url(../img/pattern.png);
    height:180px;
}

main h1{
    font-size: 50px;
    margin-bottom: 0;
}

#background-logo{
    width: 250px;
    height: 250px;
}

#immgini-tim{
    width: 30%;
}

#titolo-blu{
    color:rgb(30, 143, 255);
}

.sotto-titolo{
    margin-top: 0;    
}

ul{
    padding-left: 16px;
}

#credits{
    color: grey;
}

#data-articolo{
    font-size: 15px;
}

.evidenziato{

    background-color: yellow;
}
table{
    margin: 0;
    
}
th{
    text-align: left;
    color: white;
    height: 10px;
}

.column{
    width: 300px;
    
}

#last-column{
    width: 800px;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: deepskyblue;
    
}


.colored-row{
    background-color:rgba(76, 240, 240, 0.5);
}
 
footer > h3{
    color: grey;
}

footer div{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-bottom: 50px;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    
}

#graph{
    background-image: url(../img/graph.jpg);
}
.lorem-finale{
    color: white;
    font-size: 25px;
}

