
header{
    background-color: rgba(30, 143, 255, 0.8);
    background-image: url(../img/pattern.png);
    height:180px;
}

main h1{
    font-size: 50px;
    margin-bottom: 0;
}

#background-logo{
    width: 250px;
    height: 250px;
}

#immgini-tim{
    width: 30%;
}

#titolo-blu{
    color:rgb(30, 143, 255);
}

.sotto-titolo{
    margin-top: 0;    
}

#credits{
    color: grey;
}

#data-articolo{
    font-size: 15px;
}

.evidenziato{

    background-color: yellow;
}

thead{
    background-color: deepskyblue;
}